* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* to match the main window */
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  /* background: linear-gradient(90deg, #0edad3, #4622e3); */
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.hidden {
  display: none;
}

.splash-wrapper {
  display: flex;
  flex-direction: row;
}

.splash-image-wrapper {
  width: 320px;
  height: 450px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.splash-image-caption {
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.splash-content-wrapper {
  align-items: center;
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

.splash-product-name {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 40px;
  color: #222222;
  margin-bottom: 2px;
}

.splash-version {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 14px;
  color: #898989;
  margin-left: 2px;
}

.splash-loading-message {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  margin-top: 110px;
  font-size: 18px;
  color: #414141;
}

.splash-description {
  font-family: 'PlusJakartaSans-regular', Helvetica, sans-serif;
  font-size: 14px;
  color: #585858;
  width: 365px;
}

.splash-license {
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 10px;
  color: #898989;
  position: fixed;
  bottom: 3px;
  left: 5px;
}

.pw-input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  font-size: 16px;
}

button {
  height: 26px;
  min-width: 80px;
  cursor: pointer;
}

.warning {
  color: rgb(193, 0, 0);
  font-size: 14px;
  min-height: 16px;
}

.red {
  color: rgb(193, 0, 0);
}

.previous-step-btn {
  position: fixed;
  top: 2px;
  left: 2px;
}

.acorn-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  font-family: 'PlusJakartaSans-extrabold';
  color: #222222;
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.75rem #c7beb472;
  min-width: 4rem;
  padding: 1rem;
  border: none;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.2s all ease;
  -webkit-font-smoothing: antialiased;
  margin: 1rem;
  text-decoration: none;
}

.acorn-btn:hover {
    box-shadow: 0rem 0rem 1.25rem #c7beb4bd;
}

.acorn-btn:disabled {
    opacity: 0.6;
    cursor: default;
    color: #757171;
}

.acorn-btn:disabled:hover {
  box-shadow: 0rem 0rem 0.75rem #c7beb472;
}


/* Fonts */

/* Plus Jakarta Sans */

@font-face {
  font-family: 'PlusJakartaSans-regular';
  src: url('fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2')
      format('woff2'),
    url('fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  word-spacing: 0.05em;
}

@font-face {
  font-family: 'PlusJakartaSans-medium';
  src: url('fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2')
      format('woff2'),
    url('fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  word-spacing: 0.05em;
}

@font-face {
  font-family: 'PlusJakartaSans-semibold';
  src: url('fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2')
      format('woff2'),
    url('fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  word-spacing: 0.05em;
}

@font-face {
  font-family: 'PlusJakartaSans-bold';
  src: url('fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  word-spacing: 0.05em;
}

@font-face {
  font-family: 'PlusJakartaSans-extrabold';
  src: url('fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2')
      format('woff2'),
    url('fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  word-spacing: 0.05em;
}

/* Gilroy Font */

@font-face {
  font-family: 'gilroyextrabold';
  src: url('fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('fonts/gilroy/gilroy-light-webfont.woff2') format('woff2'),
    url('fonts/gilroy/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.primary-font-medium {
  font-family: 'PlusJakartaSans-medium';
}

.primary-font-regular {
  font-family: 'PlusJakartaSans-regular';
}

.primary-font-extrabold {
  font-family: 'PlusJakartaSans-extrabold';
}